@import "tailwindcss";

/* ANIMAÇÃO SLIDE-UP */
@keyframes slide-up {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-up {
    animation: slide-up 0.8s ease-out forwards;
}

/* ANIMAÇÃO FLOAT */
@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .6s ease-out, transform .6s ease-out;
    will-change: opacity, transform;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}